@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Medium.ttf');
}

.label{
    -fx-font-size: 20px;
}

.text{
    -fx-font-family: "Quicksand";
}

.menuLabel .text{
    -fx-fill: white;
}

.selectedLabel{
    -fx-border-color: white;
    -fx-border-width: 0 0 2px 0;
}

.menuLabel:hover .text{
    -fx-fill: rgb(200, 200, 200);
}

.list-cell, .list-view{
    -fx-background-color: transparent;
}

.list-cell .text{
    -fx-fill: white;
}

.list-cell:selected .text{
    -fx-fill: rgb(200, 200, 200);
}

#leftPane{
    -fx-background-color: #4f4f4f;
}

.menu{
    -fx-background-color: #100080;
}

.twitterAccount{
    -fx-fill: #a8a8a8;
    -fx-font-size: 15px;
}